.features {
    margin-bottom: 45px;

    .content {
        max-width: 800px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 50px;
        text-align: center;

        .feature-item {
            width: 350px;
            margin-top: 40px;

            .feature-img {
                height: 70px;
                margin-bottom: 15px;
            }

            .feature-title {
                font-family: var(--ff-headings);
                font-weight: 700;
                font-size: 20px;
            }

            .feature-description {
                font-size: 13px;
                opacity: .8;
            }
        }
    }
}